.h1 {
    text-align: left
}

.mapa {
    position: absolute;
    right: 20px;
    top: 10px;
    background-color: #dedbe6;
    float: right;
    z-index: 1;
}

@media only screen and (max-device-width: 480px) {
    .mapa {
        float: left;
        transform: scale(0.8)
    }
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.objetos {
    position: absolute;
    left: 0;
    top: 5em;
    float: left, margin-top: 1em;
}

.titulo {
    background-color: #dedbe6;
}

.emergencia {
    position: absolute;
    background-color: #764444;
    width: 3px;
    height: 3px;
    z-index: 100;
    border-radius: 1px;
    margin-left: -1px;
    margin-top: -1px;
    animation-name: novaemergencia;
    animation-duration: 1500ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    -webkit-animation-name: novaemergencia;
    -webkit-animation-duration: 800ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
}

@keyframes novaemergencia {
    0% {
        transform: scale(1) rotate(0deg)
    }
    45% {
        transform: scale(4)
    }
    70% {
        background-color: yellow;
        transform: scale(10) rotate(180deg)
    }
    100% {
        background-color: #764444;
        transform: scale(1) rotate(360deg)
    }
}

@-webkit-keyframes novaemergencia {
    0% {
        transform: scale(1) rotate(0deg)
    }
    45% {
        transform: scale(4)
    }
    70% {
        background-color: yellow;
        transform: scale(10) rotate(180deg)
    }
    100% {
        background-color: #764444;
        transform: scale(1) rotate(360deg)
    }
}

:target {
    animation-name: destaque;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    -webkit-animation-name: destaque;
    -webkit-animation-duration: 500ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-out;
}

@keyframes destaque {
    0% {
        transform: scale(1)
    }
    45% {
        transform: scale(2)
    }
    70% {
        background-color: white;
        transform: scale(3)
    }
    100% {
        background-color: rgb(250, 62, 62);
        transform: scale(1)
    }
}

@-webkit-keyframes destaque {
    0% {
        background-color: rgb(250, 62, 62);
        transform: scale(1)
    }
    45% {
        transform: scale(1.5)
    }
    70% {
        background-color: white;
        transform: scale(1.8)
    }
    100% {
        background-color: rgb(250, 62, 62);
        transform: scale(1)
    }
}

.ambulancia {
    position: absolute;
    width: 4px;
    height: 6px;
    z-index: 50;
    margin-left: -2px;
    margin-top: -4px;
    background: white;
    border: solid 1px rgb(250, 62, 62);
}

.hospital {
    position: absolute;
    background-color: rgba(250, 62, 62, 0.92);
    color: blue;
    content: "+";
    width: 16px;
    height: 16px;
    z-index: 10;
    margin-left: -8px;
    margin-top: -8px;
}

.oficina {
    position: absolute;
    background-color: green;
    width: 10px;
    height: 10px;
    z-index: 5;
    margin-left: -5px;
    margin-top: -5px;
}

.central {
    position: absolute;
    background-color: blue;
    width: 10px;
    height: 10px;
    z-index: 5;
    margin-left: -5px;
    margin-top: -5px;
}
